#DS_Store ignoring
.DS_Store
ViewControllers/.DS_Store

#.ipa build destination
builds/*

#Xcode project binary
scrollTest.xcodeproj/project.xcworkspace/xcuserdata/*
scrollTest.xcodeproj/xcuserdata/*

#AppCode files
.idea/*
